<div class="col-md-12" ng-controller="TodoListController as todoList">
	<h2>TODO App</h2>
	<div class="todoList">
		<span class="numberOfList"> {{todoList.remaining()}} of {{todoList.todoList.length}} remaining  <button class="btn-danger btn" ng-click="todoList.delete()">Delete</button></span>
		<ul class="list" ng-repeat="todo in todoList.todoList">
			<li class="item">
				<input type="checkbox" ng-model="todo.done">&nbsp;
				<span class="todo-{{todo.done}}">{{todo.text}} - {{todo.done}} </span>
			</li>
		</ul>
	</div>
	<div class="newTask">
		<form class="form-group" ng-submit="todoList.addTodo()">
			<feildset>
				<input type="text" size="30" class="form-control" ng-model="todoList.text">
				<input type="submit" value="submit" class="btn btn-primary">
			</feildset>
		</form>
	</div>
</div>
